/* 
    Document   : ztrack
    Created on : 15.07.2010, 15:38:34
    Author     : ZoRgSoft
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {

    display: block;
}

body {

    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    background-color: #e4e3e3;
    color: #333333;
    background-image: url(../images/time_back.jpg);
}

/* Login */
.login_window {
  
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: #cccccc;
    border-left-color: #cccccc;
    border-bottom-color: #cccccc;
    border-top-color: #cccccc;
    width: 350px;
    height: 100px;
    margin: auto;
    top: 150px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #dddbdb;
    font-family: Arial,Helvetica,sans-serif;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    position: relative;
    opacity: .45;
    filter: alpha(opacity=45);
    -moz-opacity: .45;
}

.login_window_input {

    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: #cccccc;
    border-left-color: #cccccc;
    border-bottom-color: #cccccc;
    border-top-color: #cccccc;
    background-color: #ffffff;
    width: 210px;
}

.login_title {

    font-family: 'Courier New',Courier,monospace;
    font-size: 36px;
    font-weight: bold;
    top: 64px;
    width: 650px;
    height: 90px;
    margin: auto;
    text-align: center;
    position: relative;
    opacity: .45;
    filter: alpha(opacity=45);
    -moz-opacity: .45;
    color: #ffffff;
}

/* Main */

.main_login_panel {
    background-color: #666666;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 220px;
    height: 65px;
    opacity: .45;
    filter: alpha(opacity=45);
    -moz-opacity: .45;
    padding: 5px;
    vertical-align: middle;
    color: #99ff99;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: #cccccc;
    border-left-color: #cccccc;
    border-bottom-color: #cccccc;
    border-top-color: #cccccc;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.main_left {
    background-color: #666666;
    position: absolute;
    padding: 5px;
    left: 10px;
    top: 100px;
    bottom: 10px;
    width: 220px;
    opacity: .55;
    filter: alpha(opacity=55);
    -moz-opacity: .55;
    text-align: left;
}

a {

    color: #00ffff;
    text-decoration: underline;
}

a:visited {

    color: #00ffff;
}

a:hover {

    text-decoration: none;
}

hr {
    
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.main_title {
    
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    padding: 5px;
    top: 10px;
    height: 65px;
    left: 250px;
    right: 10px;
    opacity: .45;
    filter: alpha(opacity=45);
    -moz-opacity: .45;
    text-align: center;
    color: #333333;
    background-color: #ffffff;
}

.main_title_text {
    position: relative;
    display: block;
    top: 25%;
    vertical-align: middle;
    color: #333333;
}

.main_content {

    position: absolute;
    padding: 5px;
    top: 100px;
    left: 250px;
    right: 10px;
    bottom: 10px;
    opacity: .75;
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    background-color: #333333;
    color: #cccccc;
}


.table_tasks {
    border: 1px;
    border-style: solid;
    border-color: #2D5387;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-color: #2D5387;
    border-bottom-color: #2D5387;
    border-top-color: #2D5387;
    border-right-style: none;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.table_tasks th {

    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-bottom-color: #2D5387;
    border-right-color: #2D5387;
    background-color: #2D5387;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.table_tasks td {

    border-right-width: 1px;
    border-right-color: #2D5387;
    border-right-style: solid;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: #474747;
}

.active_tasks_sh {
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 18px;
}

.closed_tasks_sh {
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 18px;
}

td.table_tasks_red{
    border-right-width: 1px;
    border-right-color: #2D5387;
    border-right-style: solid;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: #ff6666;
}

td.task_description{
    border-right-width: 1px;
    border-right-color: #2D5387;
    border-right-style: solid;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: #cccccc;
    border-bottom-style: solid;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #2D5387;
    border-bottom-color: #2D5387;
    vertical-align: top;

    color: #000000;
}

.big_error_message {

    font-size: 36px;
    font-family: Georgia,'Times New Roman',times,serif;
    font-weight: bold;
    color: #ff3333;
}

.img_s {
    text-decoration: none;
}